.Card{
    display: flex;
    flex-direction: column;
    width: 280px;
    align-content: center;
    border: 2px solid green;
    border-radius: 10px;
}

.Card1{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: yellowgreen;
    border: 2px solid grey;
    border-radius: 10px;
}

.btn{
    background-color: red;
    width: 25px;
    border-radius: 10px;
    margin: 5px;
    align-self: flex-end;
}

.btnColor{
    Color: white;
}

.btn:hover{
    color: red;
    background-color: white;
}